/data/reuters/first3/*
/data/reuters/first4
/data/reuters/first5
/data/reuters/first6
/data/reuters/first7
/data/reuters/first8
/data/reuters/first9
/data/reuters/train/*
/data/reuters/test/*
/data/*

/multi-class/models/*
/multi-class/vectors/*

/mlp_weights/*
/mlp_weights_bibtex/*
/mlp_weights_agnews/*

/cnn_weights/*
/cnn_weights_bibtex/*
/cnn_weights_agnews/*

/ae_weights/*

*.pyc
__pycache__/*
multi-class/__pycache__/*
.ipynb_checkpoints/
/cnn_weights_agnews/*
